* {
  margin: "0";
  padding: "0";
  box-sizing: border-box;
}

.formInput > * {
  display: block;
}

.formInput input {
  border: 1px solid rgb(136, 136, 136);
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 5px;
}
.formInput label {
  text-transform: capitalize;
}
